.user-image-size {
    height: 56px;
    margin: 4px 0;
}

.navbar-size {
    width: 95%;
    margin: 0 auto;
}

.main-body {
    background-color: lightskyblue;
    color: black;
}
.materialboxed-image {
    margin: 0 auto;
    height: 300px;
}

.flow-text{
    color: white;
}

#heading{
    color: white;
}

.click-me-button {
    background-color: lightskyblue;
    margin-top: 50px;
}